.favoritesContainer{
    width: 98%;
    min-height: 640px;
    box-sizing: border-box;
    /* margin: 0 auto; */
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    /* background: rgb(129, 64, 64); */
    align-items: center;
}

.title{
    margin-bottom: 0 auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
    color: yellow;
    border-radius: 15px;
    width: 300px;
    background-color: rgb(66,229,254);
}

.filterContainer{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}